<!DOCTYPE html>
<html>
    <%- include("../templates/header") %>

<head>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@easepick/core@1.2.1/dist/index.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@easepick/datetime@1.2.1/dist/index.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@easepick/base-plugin@1.2.1/dist/index.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@easepick/amp-plugin@1.2.1/dist/index.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@easepick/range-plugin@1.2.1/dist/index.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@easepick/lock-plugin@1.2.1/dist/index.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@easepick/preset-plugin@1.2.1/dist/index.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@easepick/kbd-plugin@1.2.1/dist/index.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@easepick/time-plugin@1.2.1/dist/index.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@easepick/bundle@1.2.1/dist/index.umd.min.js"></script>
</head>

<body>
    <section class="section">
        <div style="display:flex; align-items:baseline;">
            <% if (locals.listOfFriends && locals.listOfFriends.length> 0) { %>
                <div class="column is-4" style="width:20%;">
                    <h2>Friend Filter</h2>
                    <div>
                        <% locals.listOfFriends.forEach(function(friend) { %>
                            <div>
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" style="margin-right: 5px;"
                                        id="<%= friend.name %>" onchange="filterFriends()">
                                    <%= friend.name %>
                                </label>
                            </div>
                            <% }); %>
                    </div>
                </div>
                <% } %>

                    <div class="column is-four-fifths" style="width:80%; margin-right: 10px;">
                        <h1 id="calendar-month-title"></h1>
                        <div id='calendar'></div>
                    </div>
        </div>
    </section>

    <script>
        const calendarTitle = document.getElementById('calendar-month-title');
        const calendarEl = document.getElementById('calendar');
        const errorMessage = document.getElementById('error');
        let eventName = document.getElementById('event-name')
        const submitEventBtn = document.getElementById('submit-event')
        const cancelFormBtn = document.getElementById('cancel-form')
        const arrayData = JSON.parse('<%- JSON.stringify(locals.friend_calendar) %>');
        const sLUData = JSON.parse('<%- JSON.stringify(locals.sLU) %>')
        let storedEvents = [];
        let startDate = undefined;
        let endDate = undefined;
        let calendar;

        function filterFriends() {
            const checkedFriends = document.querySelectorAll('input[type="checkbox"]:checked');
            // create array and get id from the array of checked boxes.
            const selectedFriendNames = Array.from(checkedFriends).map(checkbox => checkbox.id);

            let filteredEvents = arrayData.filter(event => {
                return selectedFriendNames.includes(event.title);
            });
            console.log(filteredEvents)
            calendar.removeAllEvents();
            calendar.addEventSource(sLUData);
            calendar.addEventSource(filteredEvents);
        }

        setTimeout(function () {
            calendar = new FullCalendar.Calendar(calendarEl, {
                timeZone: 'UTC',
                initialView: 'dayGridMonth',
                events: arrayData,
                editable: false,
                selectable: false,
                dateClick: (info) => {
                    return;
                }
            });
            calendar.render();
        }, 1000)


    </script>
</body>

</html>