<!DOCTYPE html>
<html>
<%- include("templates/header") %>
  <body>
    <section class="section has-background-light">
      <div class="maincolumns columns is-desktop">
        <div class="column is-10 is-offset-1 has-background-white" style="border-radius: 25px;">
          <div class="tabs is-centered">
            <ul>
              <li class="is-active" onclick="displayComponent({'number': 0, 'name': '.today'})">
                <a>
                  <span class="icon is-small"><i class="fas fa-image" aria-hidden="true"></i></span>
                  <span>Today</span>
                </a>
              </li>
              <li onclick="displayComponent({'number': 1, 'name': '.upcoming'})">
                <a>
                  <span class="icon is-small"><i class="fas fa-music" aria-hidden="true"></i></span>
                  <span>Upcoming</span>
                </a>
              </li>
              <li onclick="displayComponent({'number': 2, 'name': '.week'})">
                <a>
                  <span class="icon is-small"><i class="fas fa-image" aria-hidden="true"></i></span>
                  <span>Week</span>
                </a>
              </li>
              <li onclick="displayComponent({'number': 3, 'name': '.month'})">
                <a>
                  <span class="icon is-small"><i class="fas fa-image" aria-hidden="true"></i></span>
                  <span>Month</span>
                </a>
              </li>
            </ul>
          </div>
          <!-- Tabs -->


          <div class='today'>
            <div class='column has-text-centered'>
              <button class="button">
                <span class="icon is-small">
                  <i class="fas fa-arrow-circle-left"></i>
                </span>
              </button>
              <h1 class="title" style="display: inline;">Nov 9 2023</h1>
              <button class="button">
                <span class="icon is-small">
                  <i class="fas fa-arrow-circle-right"></i>
                </span>
              </button>
              <%- include("components/today.ejs") %>
            </div>
            <div class='columns'>
            </div>
          </div>


          <div class='upcoming' style='display: none'>
            <div class='column has-text-centered'>
              <button class="button">
                <span class="icon is-small">
                  <i class="fas fa-arrow-circle-left"></i>
                </span>
              </button>
              <h1 class="title" style="display: inline;">Nov 10 2023</h1>
              <button class="button">
                <span class="icon is-small">
                  <i class="fas fa-arrow-circle-right"></i>
                </span>
              </button>
              <%- include("components/upcoming.ejs") %>
            </div>
            <div class='columns'>
            </div>
          </div>


          <div class='week' style='display: none'>
            <div class='column has-text-centered'>
              <h1 class="title">week</h1>
              <%- include("components/week.ejs") %>
            </div>
            <div class='columns'>
            </div>
          </div>


          <div class='month' style='display: none'>
            <div class='column has-text-centered'>
              <h1 class="title" id="month-title"></h1>
              <%- include("components/month.ejs") %>
            </div>
            <div class='columns'>
            </div>
          </div>
        </div>
    </section>
    <script>
      function displayComponent(params) {
        console.log(params.number)
        console.log(params.name)
        const components = [".today", ".upcoming", ".week", ".month"]
        for (let i = 0; i < components.length; i++) {
          document.querySelectorAll('li')[i].classList.remove('is-active');
          document.querySelector(components[i]).style.display = 'none'
        }
        document.querySelectorAll('li')[params.number].classList.add('is-active');
        document.querySelector(params.name).style.display = "block";
      }
    </script>
  </body>

</html>